@charset "UTF-8";

/*Para ver na versão mobile entre no celular e abra novamente a página clicando na escrita "concurso agrinho" para ver da maneira correta*/

body{
    background-color: #535353;
    font-family: 'Inter', sans-serif;;

    @media ( max-width: 900px ) {
          width: 100%;
      }
      
}

header{
  background-color: #fc3527;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.4) 8px 20px 40px;

  @media ( max-width: 900px ) {
    background-color: #fc3527;
    position: fixed;
    top: 0;
    left: 0;
    width: 73%;
}
}

header a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 25px 25px 25px 37px;
  text-decoration: none;
  font-size: 20px;
}

header .logo {
  font-size: 25px;
  margin-left: 15%;
  margin-top: 3px;
  margin-bottom: 3px;

  @media ( max-width: 900px ) {
    font-size: 18px;
  margin-left: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
}
}

header a:hover{
  background-color: #292929;
  color: #ffffff;
  border-radius: 20px;
}

.parallax {
  background-image: url(titulo1.jpg);
  min-height: 100vh;
  background-attachment: fixed;
  background-position: 66%;
  background-repeat: no-repeat;
  background-size: 120%;
  box-shadow: rgba(0.4, 0, 0, 0.4) 8px 20px 40px;
}

.parallax1 {
  background-image: url(doacao.jpeg);
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background: size 95%;
  box-shadow: rgba(0.4, 0, 0, 0.4) 8px 20px 40px;
}

.parallax2 {
  background-image: url(diamundial.jpg);
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  box-shadow: rgba(0.4, 0, 0, 0.4) 8px 20px 40px;
}

.rodape {
    background-color: #750901;
    overflow: hidden;
  }

h1{   
    padding: 30px 0px 25px 0px;
    margin-left: 15%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: left;
    font-weight: bold;
    color: white;
}

h4{   
  padding: 40px 0px 40px 0px;
  margin-left: 3%;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 45px;
  text-align: center;
  font-weight: bold;
  color: #ed62ff;
}

p{
  padding: 30px 0px 25px 0px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 25px;
  margin-bottom: 20px;
  font-size: 25px;
  text-align: left;
  color: white;
}

h2{
  font-weight: bold;
  font-size: 100%;
  color: #ddd;
  text-align: left;
  margin: 5px 5px 15px 25px;

}

h3{
  padding: 35px 0px 25px 0px;
  margin-top: 25px;
  margin-bottom: 20px;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  color: white;
}

li {
  list-style:inside;
  padding-left: 30px;
  font-size: 30px;
  padding-top: 15px;
  padding-bottom: 20px;
  color: #ddd;
}

.mapa{
    padding-left: 15%;
    padding-bottom: 50px;
    width: 70%;

    @media ( max-width: 900px ) {
    padding-bottom: 50px;
    width: 70%;
    }
}

.imagem{
  width: 50%;
  padding-left: 25%;
  padding-top: 45px;
  padding-bottom: 10px;
}

.imgrodape{
  width: 25%;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.titulo{
  height: 20%;
  width: 100%;
  padding-bottom: 20px;
  padding-top: 60px;

  @media ( max-width: 900px ) {
    height: 60%;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 70px;
}
}

.icone{
    width: 5%;
    position: fixed;
    margin: -6% 0 0 93%;
    padding: 0;
    border: 0;
    font: inherit;
    display:block;
    transition: all 0.5s;

     @media ( max-width: 900px ) { 
    width: 8%;
    position: fixed;
    margin: -6% 0 0 60%;
    padding: 0;
    border: 0;
    font: inherit;
    display:block;
    transition: all 0.5s;
  }
}
  
.icone:hover {
    width: 6%;
    position: fixed;
    padding: 0;
    border: 0;
    font: inherit;
    display:block;
  }

.quadrado {
    width: 1200px;
    margin: 60px auto;
    box-shadow: rgba(0, 0, 0, 0.4) 8px 20px 40px;
    background: #ff1010;
    border-radius: 10px;

    @media ( max-width: 900px ) { 
      width: 500px;
    margin: 60px auto;
    box-shadow: rgba(0, 0, 0, 0.4) 8px 20px 40px;
    background: #ff1010;
    border-radius: 10px;
    }
}

.paragrafi {
  font-size: 30px;
  margin: 10px 30px 20px 25px;
  color: #ddd;
}

.caixa2 {
  width: 1000px;
  margin: auto;
  padding: 60px 0px 60px 0px;
}

/*infelizmente o procurador de hemocentros não funciona até o momento */

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px, 45px;
  background: #ff0303;
  box-shadow: rgba(0, 0, 0, 0.4) 10px 20px 20px ;
  border-radius: 10px;

   @media ( max-width: 900px ) { 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px, 10px;
  background: #ff0303;
  box-shadow: rgba(0, 0, 0, 0.4) 10px 20px 20px ;
   }
}

section h2 {
  color: #ddd;
  font-size: 2.5rem;
  margin: 2rem;

  @media ( max-width: 900px ) {  
  color: #ddd;
  font-size: 30px;
  margin: 2rem;
    }
}

section form {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0 0 40px 0;

  @media ( max-width: 900px ) { 
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 0 0 40px 0;
}
}

form label {
  color: #f5f5f5;
  font-size: 17px;
  margin-bottom: 4px;
}

form input {
  padding: 15px;
  outline: none;
  border: 0;
  margin-bottom: 20px;
  font-size: 15px;
  transition:  all 0.5s;

}

form textarea {
  padding: 10px;
  outline: none;
  border: 0;
  font-size: 15px;
  margin-bottom: 30px;
  transition: all 0.5s;
}

form button {
  padding: 15px;
  cursor: pointer;
  font-size: 16px;
  background: transparent;
  color: #f5f5f5;
  transition: all 1s;
  margin-bottom: 20px;
}

form button:hover {
  background: #f5f5f5;
  color: #101026;
}

.lista {
    padding: 10px 0;
    text-align: center;
}

.lista a {
    display: inline-block;
    padding: 20px 80px;
    margin: 20px 20px;
    border-radius: 17px;
    width: 800px;
    text-align: center;
    background-size: 100%;
    background-color: #ff0000;
    transition: width 1s, height 1s;
    box-shadow: rgba(0, 0, 0, 0.4) 8px 20px 40px;
    transition: all 0.5s;

    @media ( max-width: 900px ) {
    display: inline-block;
    padding: 20px 80px;
    margin: 20px 20px;
    border-radius: 17px;
    width: 270px;
    text-align: center;
    background-size: 100%;
    background-color: #ff0000;
    transition: width 1s, height 1s;
    box-shadow: rgba(0, 0, 0, 0.4) 8px 20px 40px;
    transition: all 0.5s;
}
}

.lista a:hover {
    width: 900px;
    background-color: #ad0000;

    @media ( max-width: 900px ) {
     width: 280px;
    background-color: #ad0000;
    }
}

.richas {
  font-size: 30px;
  text-align: center;
  color: #ffffff;
}
